*.class
**/src/main/webapp/docs/**

# Package Files #
*.jar
*.war
*.ear
*.prefs
.classpath
.project
.settings
/**/.idea/
.idea/
build/
/**/**/build/
*.settings

*.project
*.ipr
*.iml
*.iws

*.DS_Store
*.classpath
/**/target
/**/.gradle
/**/test-output
derby.log

/bin/

# Fortify analysis file
*.fpr

# JRebel
rebel.xml
rebel-remote.xml

multi-maven/
